<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>充電狀態</title>
    <link rel="stylesheet" type="text/css" href="/css/chargingtable.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!--//在前端導入函數使用網址 -->
</head>
<body id="body">
    <button type="submit" id="firstPage">回首頁</button>
    <script  type="text/javascript" src="/js/finishCharging.js"></script> 
</body>
</html>